# --------------------------
# IGNORE DATASET + MODEL
# --------------------------
tomato_diseases/
*.pth

# --------------------------
# PYTHON CACHE
# --------------------------
__pycache__/
*.pyc

# --------------------------
# VIRTUAL ENVIRONMENTS
# --------------------------
venv/
.venv/

# --------------------------
# EDITOR / OS FILES
# --------------------------
.vscode/
.DS_Store
Thumbs.db

# --------------------------
# STREAMLIT CACHE
# --------------------------
.streamlit/
